[user]
	name = FirstName LastName
	email = none@none.com
[commit]
	verbose = true
[alias]
    sl = log --no-merges --format=\"%Cred%ad%Creset %Cblue%an%Creset %C(yellow)%h%Creset %Cgreen%s%Creset%n%b\"
    sl-na = log --no-merges  --format=\"%Cred%ad%Creset %C(yellow)%h%Creset %Cgreen%s%Creset%n%b\"
    sl-wm = log --format=\"%Cred%ad%Creset %Cblue%an%Creset %C(yellow)%h%Creset %Cgreen%s%Creset%n%b\"
    force = push --force-with-lease
    last = checkout @{-1}
	fix = commit --amend --no-edit
[log]
	date = short
